@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: #F8F9FA;
    width: 26%;
    height: 98vh;
    border: 3px solid gray;
    margin: 10px;
    padding: 10px;
}
.image{
    text-align: center;
}
.para{
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 35px;
}

.points{
    float: left;
}

.detail{
    float: right;
    padding-right: 10px;
}
.points h3{
    padding-bottom: 25px;
    color: #3d55a1;
    font-weight: bolder;
}
.detail p{
    font-size: 20px;
    padding-bottom: 22px;
}
