@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1%;
}
.section1{
    display: block;
    margin: 12%;
}
.small_heading{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: 400;
}
.big_heading{
    font-size: 65px;
    font-family: 'Manrope', sans-serif;
    padding-left: 2px;
    font-weight: 500;
    color: #1893F7;
}
.box2{
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    color:#3d88df;
    font-weight: bold;
    margin-bottom: 5%;
}
.box3{
    margin-top: 2%;
    width: 70%;
    margin-bottom: 6%;
}

.box3 img{
    width: 100%;
}
.box4 p{
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
}

.container1 video{
    width: 100%;
}

.section2{
    margin: 7% 20% 7% 10%;
}





/* responsive web design */

@media screen and (max-width:640px) {

    .container1{
        display: block;
    }
}