* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr;
  grid-template-rows: 70px;
  background-color: #242b2e;
  margin: 1%;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.logo h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  line-height: 0.8;
  color: #0071e0;
}
.navigation_link ul {
  display: flex;
  /* justify-content:center; */
  padding-left: 10%;
  align-items: center;
}
.navigation_link ul li {
  list-style: none;
  padding: 5% 2%;
}
.navigation_link ul li a {
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}

.button {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10%;
}
.button button {
  font-size: 18px;
  font-weight: 600;
  padding: 2% 25%;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #0072e1;
  cursor: pointer;
}
.hamburger_menu {
  display: none;
}

/* responsive style */

@media screen and (max-width: 640px) {
  .button {
    display: none;
  }
  .navigation_link {
    display: none;
  }
  .hamburger_menu {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 150px;
    justify-self: end;
    position: absolute;
  }
  input {
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 50px;
    width: 45px;
    height: 30px;
    z-index: 5;
    opacity: 0;
  }
  .hamberguer_line{
    position: absolute;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 50px;
    width: 45px;
    height: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .hamberguer_line .line{
    display: block;
    height: 4px;
    width: 100%;
    background: #ffff;
    border-radius: 10px;
  }

  .hamburger_menu ul {
    padding-top: 50px;
    display: block;
    padding-right: 50px;
  }
  .hamburger_menu ul li {
    list-style: none;
    padding-bottom: 18px;
  }
  .hamburger_menu ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #ffff;
    padding-left: 50px;
  }
  .menu_iteam {
    visibility: hidden;
    transform: translateZ(110%);
    transition: transform 0.5s ease-in-out;
    /* padding-right: 20px; */
    background: #242b2e;
  }
  button{
    font-size: 25px;
    margin-left: 20px;
    padding: 0 25px;
    background-color: #0072e1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .hamburger_menu input[type="checkbox"]:checked ~ .menu_iteam{
    visibility: visible;
    transform: translateZ(0%);
  }
}
