*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    grid-area: navbar;
    background-color:white;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 100%;
    height: 50px;
}
.logo img{
    width: 10%;
    cursor: pointer;
}
.link ul{
list-style: none;
 display: grid;
 grid-template-columns: repeat(3,0.2fr);
}
.link {
    align-self: center;
}
.link ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
}
.link ul li a:hover{
    font-weight: bold;
}
.login{
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}
.login button{
    padding: 10px 55px;
    font-size: 15px;
    color: black;
    background-color: rgb(0, 236, 158);
    border-radius: 8px;
}
.login button:hover{
    background-color: rgb(73, 122, 105);
    font-weight: 800;
    color: white;
}
