*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
main{
    border: 2px solid black;
    margin: 2%;
}
.container1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:1fr 1fr;
    margin: 5% 10%;
    row-gap: 10px;
    column-gap: 10px;
}
img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    object-fit:cover;
    border-radius: 18px;
}
.box{
    border: 3px solid black;
    border-radius: 18px;
}


/* responsive design */
@media screen and (max-width:640px) {
    .container1{
        display: block;
    }
    .box{
        margin-bottom: 10px;
    }
}