*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main container  */
.container{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    margin: 10px;
    height: 60vh;
    grid-template-areas: 
    "navbar navbar navbar"
    "box1 box2 box3";
}

/* box1 styling  */
.box1{
    grid-area: box1;
    /* margin-left: 60px; */
    padding:0px 80px;
    /* padding-top: 200px; */
    align-self: center;
}
.heading{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.para{
    font-family: Arial, Helvetica, sans-serif;
    left: 5px;
    color: rgb(80, 81, 82);
    line-height: 20px;
    padding-bottom: 50px;
}
button{
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 40px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}



/* box2 styling  */
.box2{
    grid-area: box2;
}

.box2 img{
    width: 100%;
    height: 60vh;
}


/* box3 style */
.box3{
    grid-area: box3;
    background-color: yellow;
    height: inherit;
}