*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #5B6565;
}
dialog{
    width: 800px;
    height: 520px;
    margin-left: 300px;
    padding: 10px;
    border: none;
}
.pop_heading{
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(102, 100, 100);
}
.pop_para{
    margin-top: 20px;
    height: 300px;
    border-bottom: 2px solid rgb(102, 100, 100);
    overflow-y: scroll;
    margin-bottom: 15px;

}

button{
    font-size: 20px;
    padding: 8px 25px;
    margin-top: 10px;
    background-color: #5A4BDA;
    color: white;
    border-radius: 8px;
}
.main_heading{
    padding: 10 0px;
}
.main_heading1{
    padding: 10 0px;
}
.main_container{
    padding-left: 10px;
}
