*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: blanchedalmond;
}
.logo img{
    width: 58px;
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 58px;
    background-color: rgb(144, 228, 200);
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    align-content: end;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    padding-top: 12px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
    color: black;
    font-weight:bold;
}
.navbar ul li a:hover{
    color:brown;
}