*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CAD5E2;
}
.heading{
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #6256DA;
    font-weight: bolder;
}
.short_para{
    text-align: center;
    text-transform: capitalize;
    color: #2b2b2c;
    word-spacing: 1.5;
}
.container{
    margin: 100px 100px 25px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card{
    width: 350px;
    background-color: white;
    padding:20px 20px 20px 20px ;
    margin-bottom: 20px;
    border-radius: 8%;

}
.card img{
    width: 300px;
}
.card h3{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6256DA;
}
.card h2{
    padding-top: 25px;
    text-transform: uppercase;
}